/* 
    Document   : default
    Created on : Mar 1, 2012, 5:52:06 PM
    Author     : iogias
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* CSS reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body{
    background: url("back.jpg") !important;
    background-size: cover !important;
    background-position: right !important;
    
    width: 100vw !important;
    height: 100vh !important;
}
fieldset,img { 
    border:0;
}
ol,ul {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

}
table tr td{

    font-size: 30px;
    text-align: center;
    padding: 2px;
    margin:2px;
    font-weight: bold;

}

table.table-history {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin:0 auto;
    border-radius: 10px; 
    overflow: hidden;

}
table.table-history tr td{

    font-size: 12px;
    text-align: center;
    padding: 2px;
    color:#444;

}

table.table-history tr:nth-child(even) {background: #FFE788}
table.table-history tr:nth-child(odd) {background: #FFF}

table.table-history tr th{

    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin:2px;
    color:#fff;
    /*background-color: #6e7bd9;*/
    background-color: #FFD700;
     

}

table.table-history tr th:first-child{
    width: 300px;
    text-align: left;
    margin-left: 10px;
}


/*--------------------------------------------- */
a{
    text-decoration: none;
font-weight:bold;
color:#000;
}
body{
    font-family: Arial, Tahoma,sans-serif;
    background:#c5c5c5;
 
}
h3{
    font-size: 18px;
}
#cssmenu {

    list-style: none;
    margin-left: 5px;
    margin-right: 10px;
    padding:5px;
    width: 140px;
    float:left;
    text-align: right;
}
#cssmenu li {
    background: #EB0000;
    font: 67.5%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#cssmenu p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}
#cssmenu a {
    background: #EB0000;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
    font-weight: bold;
}
#cssmenu a:hover {
    background: #ff3300;
    color: #fff;
    padding-bottom: 8px;
}
.container-left{
    float:left;
    border-right: 1px solid #000;
    padding-right:20px;
    margin-right: 3px;
}
.container-right{
    float:left; 
    border-left: 1px solid #000;
    padding-left:10px;
    margin-left: 3px;
}
.container{
    margin: 0 auto;
    text-align: center;
    height: 100vh !important;
    width: 100vw !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    
}
#header
{
    background: rgba(200,200,200,0.6);
    padding: 20px;

    text-align:center;
    margin:0 auto;
    margin-bottom:15px;
}


.border-kotak{
    border:4px solid #EB0000;
}
#footer
{
    clear: both;
    top:150px;
    padding: 20px;
    text-align: center;
    position: relative;
    color: #f22 !important;
    
}

#table-isi{
    float:left;
    height:100px;
}

.div-history{
    margin: auto;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    #cssmenu{
        position: relative !important;
        width: 100%;
        text-align: center;
        margin: auto;
        display: block;
    }
    #cssmenu a{
        display: inline-flex;
    }

    .table-history{
        width: 90% !important;
    }
    #cssmenu li{
        display: inline-block;
        background: none;
    }
    #uls{
        display: none;
    }
    #header{

    }
    #header h1{
        font-size: 6vw !important;
    }
    .div-history{
        width: auto;
    }
    .ball{
        margin:5px !important;
    }
}

@media only screen and (max-height: 600px) {
    #cssmenu{
        position: relative !important;
    }

}